.section1{
    display: flex;
    position: relative;
    // left: 70px;
    // right: 70px;
}

.leader-VR{
    background-color: white;
    width: 20rem;
    text-align: justify;
    position: absolute;
    width: 49%;
    bottom: 0;
    right: 70px;
    font-size: 1.2rem;
    padding: 1.7rem;
    z-index: 2;
}

.section-title{
    font-size: 2.2rem;
    text-align: left;
}

.image-interactive{
    display: flex;
    position: relative;
    left: 70px;
    z-index: 1;
}

// .section1{

//     &__imageSection1{
//         display: flex;
//         position: relative;
//     }

//     &__leader-VR{
//     background-color: white;
//     width: 20rem;
//     text-align: justify;
//     position: absolute;
//     }
// }

@media (max-width: 768px) {
    .background-element {
      z-index: 2;
    }
  
    .foreground-element {
      z-index: 1; 
    }
  }