body{
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 0;
    padding: 0;
}
footer{
    background-color: black;
    color: #fff;
    padding: 3rem;
    left: 0;
    bottom: 0;
    @media (min-width:768px) {
        display: flex;
    }
    justify-content: space-between;
    p{
        color: rgb(133, 133, 133);
    }
    .links{
        color: #fff;
        padding: 1rem 0rem;
        a{
            color: #fff;
            padding: 0rem 3rem 0rem 0rem;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
            @media (max-width: 768px){
                display: block;
            }
        }
        a:hover{
            color: #bebcbc;
            border-bottom: solid 3px #ffff;
        }
    }
    .iconos{
        text-align: end;
        img{
            margin: 0rem 0.5rem;
        }
    }
}

.targets{
    display: grid;
    padding: 3rem;
    justify-items: center;
    
    @media (min-width: 768px){
        grid-template-columns: repeat(4, 1fr); 
    }
    div{
        margin: 1rem;
    }
    
}
.target{
    .description-image{
        position: absolute;
        color: #ffffff;
        font-size: 2rem;
        padding: 1rem;
        width: 15%;
        margin-bottom: 0;
        text-align: center;
        margin-top: 20rem;

    }
    img{
        width: 100%;
        height: 30rem;
        object-fit: cover;
    }
    img:hover{
        background-color: #bebcbc !important;
        cursor: pointer;
    }
}
.creations{
    display: flex;
    justify-content: space-between;
    padding:0rem 3rem;
}
